*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: monospace;
}

body{
    /* width: 100vw;
    height: 100vh; */
}

.container {
    width: 900px;
    display: flex;
    margin: auto;
}

.aside{
    width:25%;
    background-color:#10365C;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    color :#fff;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: flex-start;
    gap: 20px;
    padding: 20px;
    /* height:100vh; */
}

a {
    color: #fff;
}

.main {
    width:75%;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    padding-inline: 2rem;
    line-height: 1.9rem;
    font-size: 15px;
}

.title{ 
    text-align: center;
}

.job_title {
    letter-spacing: 3px;
    text-align: center;
}

.details{
    line-height: 1.5rem;
}

.links{
    line-height: 1.5rem;
    display: flex;
    flex-direction: column;
}

.skills{
    line-height: 1.5rem;
}

.skills span {
    border-radius: 40px;
    backdrop-filter: blur( 2px );
    background: rgb(255, 255, 255, 0.3);
    padding: 2px 10px;
    white-space: nowrap;
    display: inline-block;
    margin: 4px 0;
}

.profile-img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
}

.language{
  align-self: flex-start;
  line-height: 1.5rem;
}

.section{
    margin: 2rem 0 0rem 0 ;
}

.details1 h3{
    margin-top: 1rem;  
}

.details1 span{
    color : grey;
    letter-spacing: .15rem;
    font-size: 1rem;
}

.details1 li{
    margin-inline:1.5rem;
}
