*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    /* font-size: small; */
}

body{
    /* width: 100vw;
    height: 100vh; */
}

.container{
    width: 100%;
    /* border:1px solid red; */
    display: flex;
    /* justify-content: center; */
    padding: 2% 5%; 
}

.aside{
    width:25%;
    background-color:#10365C;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    /* text-align: center; */
    color :#fff;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
}

a{
    color: #fff;
}

.main{
    width:75%;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    padding: 2rem;
    line-height: 1.5rem;
}

.title{
    margin: 1rem 2rem;
    text-align: center;
}

.center-line {
    border: none; /* Remove default border */
    border-top: 2px solid rgb(121, 115, 115); /* White line */
    margin: 0 auto 1rem auto; /* Center the line */
    width: 20%; /* Adjust width as needed */
}


.job_title{
    font-size: 0.6rem;
    letter-spacing: 2px;
    margin :0 2rem 2rem 2rem;
    text-align: center;
}

.details{
    /* text-align: left; */
    /* text-align: left; */
    /* margin: 2% 4%; */
    line-height: 1.5rem;
}

.links{
    margin: 2rem 4rem 1rem 4rem;
    line-height: 1.5rem;
}

.skills{
    margin: 1rem 5rem;
    line-height: 1.5rem;
    /* display: flex;
    flex-direction: column; */
}

.skills span{
    border-radius: 40px;
    backdrop-filter: blur( 2px );
    background: rgb(255, 255, 255, 0.3);
    padding : 2px 10px;
    white-space:nowrap;
}


.img{
    width:6rem;
    height: 5rem;
    border-radius: 50%;
    margin-top: 1rem;
}


.language{
  /* border:1px solid red; */
  align-self: flex-start;
  margin :0 0 1rem 4rem;
  line-height: 1.5rem;
}

.profile{
   /* border: 1px solid red; */
   margin-bottom: 1rem;
}

.employement_history{
 /* border:1px solid red; */
 padding-bottom: 4rem;
 margin: 2rem 0 0rem 0 ;
}

.details1 h3{
    margin-top: 1rem;  
}

.details1 span{
    color : grey;
    letter-spacing: .15rem;
    font-size: .75rem;
}

.details1 li{
    margin-inline:1.5rem;
}

.course h2{
    margin-top: 1rem;
}

.education h2{
    margin-top: 1rem;;
}